*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
    text-align: center;
}
.container{
    width: 400px;
    height: 200px;
    margin: 20px auto;
    background: pink;
    padding: 5px;
    border: 2px solid black;
    display: flex;
}
div{
    width: 30px; 
    height: 30px;
    background: blueviolet;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
}
.f2{
    flex-direction: column;
}
.f3{
flex-direction: column-reverse;
}
.f4{
    flex-direction: row;
}
.f5{
    flex-direction: row-reverse;
}
.f6{
    flex-wrap: nowrap;
}
.f7{
    flex-wrap: wrap;
}
.f8{
    justify-content: center ;
}
.f9{
 justify-content: flex-start;
}
.f10{
    justify-content: flex-end;
}
.f11{
    justify-content: space-around;
}
.f12{
    justify-content: space-between;
}
.f13{
    align-items: center;
}
.f14{
    align-items: flex-start ;
}
.f15{
 align-items: flex-end;
}
.f16{
 align-items: stretch;
}
.f17{
    align-items: baseline;
}
.f18{
    justify-content: center;
    align-items: center;
}
