*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(160, 2, 203);
    margin: 10px;
    color: aqua;
    padding: 15px;

}
#caja1{
    border-width: thin;
    border-style: dotted;
    border-color: salmon red;
}
#caja2{
    border-width: medium;
    border-style: dotted;
    border-color: salmon blue yellow;
}
#caja3{
    border-width: thick;
    border-style: dotted;
    border-color: salmon pink beige beige;
}
#caja4{
    border: thick dotted gray;
}
#caja5{
    border: thick hidden gold;
}
#caja6{
    border: thick dotted green;
}
#caja7{
    border: thick dashed purple;
}
#caja8{
    border: thick solid black;
}
#caja9{
    border: thick double blue;
}
#caja10{
    border: thick groove orange;
}
#caja11{
    border: thick ridge white;
}
#caja12{
    border: thick inset paleturquoise;
}
#caja13{
    border: thick outset salmon;
}
#caja14{
    border-top: 10px dashed blue;
    border-bottom: 10px double red;
    border-left: 10px solid yellow;
    border-right: 10px dotted black;
}
#caja15{
    font-family: Jost, sans-serif;
    font-size: 1rem;
  
    padding: 1rem 2rem;
    background: none;
    color: #000;
  
    border-image-source: linear-gradient(indigo, purple, hotpink);
    border-image-slice: 1 1 1 1;
    border-image-width:0.25rem;
}

    #cajita16 {
        --timing: linear(0, 0.3, 0.75, 1);
      
        font-family: Jost, sans-serif;
        font-size: 0.5rem;
      
        padding: 1rem 2rem;
        background: none;
        color: #000;
      
        border-image-source: conic-gradient(from var(--a), 
        indigo, purple, hotpink);
        border-image-slice: 1 1 1 1;
        border-image-width: 0.25rem;
      
        animation: move 1s infinite var(--timing);

      
      }
      @keyframes move{
        from{ --a:0deg;}
        to { --a: 360deg;}
      }
      @property --a{
        syntax: "<angle>";
        inherits: true;
        initial-value:0deg;

      }