*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(24,124,209,1) 0%, rgb(0, 0, 0) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login{
    width: 250px;
    height: 400px;
    background: white;
    box-shadow: 0 0 10px  black;
    border-radius: 20px;
    padding: 10px;
}

.fondo{
    width: 250px;
    position: relative;
    top:-10px;
    left: -10px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid yellow;
}
.user{
    display: block;
    width: 60px;
    height: 60px;
    margin:auto;
    position: relative;
    top:-45px;
    border-radius: 100%;
    border:2px solid yellow;
}
form{
    position: relative;
    top:-30px;
}
label{
    font-family: "Arial Black";
    font-weight: bold;
    margin:10px;
    display: block;
}
input{
    border-radius: 5px;
    padding: 3px;
    border: 1px solid silver;
    height: 40px;
    margin-top: 0px;   
}
button{
    width: 50%;
    height: 40px;
    background: blue;
    color: white;
    margin:10px  auto;
    padding: 5px;
    border-radius: 5px;
    display: block;
    border:none
}
a{
    text-decoration: none;
    display: block;
    margin:auto;
}