*{
    margin: 0;
    padding: 0;
}
img{
    border: 3px solid yellow;
    display: block;
    margin: 20px auto;
}
.unidadpx{
    width: 200px;
    height: 100px;
}
.unidadcm{
    width: 10cm;
    height: 10cm;
}
.unidadmm{
    width: 20mm;
    height: 20mm;
}
.unidadq{
    width: 200q;
    height: 200q;
}
.unidadin{
    width: 5in;
    height: 5in;
}
.unidadpt{
    width: 200pt;
    height: 200pt;
}
.unidadpc{
    width: 20pc;
    height: 20pc;
}